PORT=3003
MONGO_URI=mongodb://<MONGO_ROOT_USER>:<MONGO_ROOT_PASS>@localhost:27018/document_db?authSource=admin
AUTH_SERVICE_URL=http://localhost:3001
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_ENDPOINT=http://localhost:4566
S3_BUCKET=meatec-documents
